.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
node_modules/
.idea/
ST2019_WeatherApp/WebContent/node_modules/